
.body{
    position: fixed;
    
  }
  .img-c{
   width: 1100px;
   height: 900px;
   position: relative;
   left: 1948px;
   .body{
       position: fixed;
       
     }
     .img-c{
      width: 1100px;
      height: 900px;
      position: relative;
      left: 1948px;
      top: 138px;
    
       
      
     }
     .containerR {
       
       margin: 0 auto;
       padding: 20px;
       background-color: white;
       border-radius: 8px; 
       border-color: #84BD00;
       width: 800px;
       height: 700px;
       margin-right: 1900px;
       position: relative;
       left: 150px;
   
       
       
     
     }
      
     .h2reg {
       text-align: center;
       font-size: 4rem;
     }
     
     .my-rform{
       display: flex;
       flex-direction: column;
      
     }
     
     
      .register-inp {
       margin-bottom: 19px;
       margin-left: 3px;
       padding: 8px;
       border: 2px solid #84BD00;
       border-radius: 10px;
       font-size: 30px;
       position: relative;
       left: 20px;
     
       
       
     }
     
     .register-btn{
       padding: 10px;
       background-color: #84BD00;
       color: #fff;
       border: none;
       border-radius: 8px;
       font-size: 20px;
       cursor: pointer;
       width: 150px;
       position: relative;
       left: 150px;
       top: 40px;
     }
     
     .register-btn:hover {
       background-color: #465c14;
     }
   
   ::placeholder{
   font-size: 1rem;
   }
     
     .form-c {
       display: flex;
       justify-content: center;
       align-items: center;
       height: 80vh;
       position: relative;
       right: 400px;
       
       
     }
     
   top: 138px;
 
    
   
  }
  .containerR {
    
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    border-radius: 8px; 
    border-color: #84BD00;
    width: 800px;
    height: 700px;
    margin-right: 1900px;
    position: relative;
    left: 150px;

    
    
  
  }
   
  .h2reg {
    text-align: center;
    font-size: 4rem;
  }
  
  form {
    display: flex;
    flex-direction: column;
   
  }
  
  
   .register-inp {
    margin-bottom: 19px;
    margin-left: 3px;
    padding: 8px;
    border: 2px solid #84BD00;
    border-radius: 10px;
    font-size: 30px;
    position: relative;
    left: 20px;
  
    
    
  }
  
  .register-btn{
    padding: 10px;
    background-color: #84BD00;
    color: #fff;
    border: none;
    border-radius: 8px;
    font-size: 20px;
    cursor: pointer;
    width: 150px;
    position: relative;
    left: 150px;
    top: 40px;
  }
  
  button:hover {
    background-color: #84BD00;
  }

::placeholder{
font-size: 1rem;
}
  
  .form-c {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    position: relative;
    right: 400px;
    
    
  }
  