.img-c {
  width: 70%;
  height: 90vh;
  position: relative;
  z-index: 3;
  top: 4rem;
  bottom: -10rem;
  object-fit: cover;
}

.containerR {
  margin: 0 auto;
  padding: 20px;
  border-radius: 8px;
  border-color: #509e2f;
  position: relative;
  width: 28%;
  height: 100%;
  top: 5rem;
}

.h2reg {
  text-align: center;
  font-size: 2rem;
}

.my-rform {
  display: flex;
  flex-direction: column;
}

.register-inp {
  margin-bottom: 19px;
  margin-left: 10px;
  padding: 7px;
  border: 2px solid #509e2f;
  border-radius: 10px;
  position: relative;
  left: 20px;
  width: 100%;
  padding-left: 1rem;
}

.register-btn {
  padding: 10px;
  background-color: #509e2f;
  color: #fff;
  border: none;
  border-radius: 8px;
  font-size: 20px;
  margin-bottom: 1rem;
  cursor: pointer;
  width: 100px;
  position: relative;
  left: 8rem;
}

.register-btn:hover {
  background-color: #509e2f;
}

.form-c {
  display: flex;
  height: max-content;
  width: 100%;
}

/* Media query for medium-sized screens */
@media screen and (max-width: 1200px) {
  .register-btn {
    left: 6rem;
  }
  .containerR {
    margin-right: 2rem;
  }
}

/* Media query for small screens*/
@media screen and (max-width: 768px) {
  .containerR {
    width: 70%;
    left: -1rem;
  }
  .img-c {
    display: none;
  }
  .register-btn {
    left: 6rem;
  }
}
