.app-footer {
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center center;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 20px;
  }
  
  .footer-column {
    flex: 1;
    text-align: center;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.7); 
  }
  
  .footer-column h3 {
    font-size: 18px;
    font-weight: bold;
  }
  
  .footer-column p {
    font-size: 14px;
    margin-top: 5px;
  }

  ul {
    list-style-type: none;
    position: relative;
  }


  