.app-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #696969; /* Green color */
    color: white;
    padding: 30px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }
  
  .top-left {
    display: flex;
    align-items: center;
  }
  
  .top-right {
    display: flex;
    align-items: center;
  }
  
  .logo img {
    width: 100px;
    height: 60px;
  }
  
  .search-bar input {
    border: none;
    border-radius: 20px;
    padding: 10px;
    font-size: 16px;
    outline: none;
    margin-left: 10px; /* Add space between logo and search bar */
  }
  
  button {
    background-color: transparent;
    color: white;
    border: none;
    cursor: pointer;
    font-weight: bold;
    margin-right: 10px; /* Add space between buttons */
  }
  
  button:last-child {
    margin-right: 0; /* Remove right margin for the last button */
  }

  button.login,
  button.register{
    background-color: #34A853;
    color: white;
  }
  

.image-container {
    width: 100%;
    height: 1%;
    position: relative;
    display: inline block;
}

.dropdown-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.dropdown {
    flex: 0 0 23%;
    /* Adjust the width as needed */
    margin: 5px;
    padding: 10px;
    border-radius: 5px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #34A853;
}

select {
    width: 100%;
    padding: 5px;
    border: none;
    /* Remove borders */
    background-color: transparent;
    /* Remove the dropdown background */

}
  