.restaurant-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .restaurant-card {
    flex: 0 0 calc(33.33% - 10px); /* Maximum of three items per row with spacing */
    margin-bottom: 20px;
    background-color: #f0f0f0;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .restaurant-image {
    width: 100%;
    border-radius: 10px 10px 0 0;
  }
  
  .restaurant-details {
    padding: 10px;
  }
  
  .restaurant-name {
    font-size: 16px;
    font-weight: bold;
  }
  
  