.landing-page-banner {
  position: relative;
  width: 100%;
  height: 20rem;
  background-image: url(../../assets/bannerlandinpage.png);
  background-color: gray;
  background-position: center;
  margin-bottom: 20px;
  background-size: cover;
}

.banner-title {
  position: absolute;
  left: 8rem;
  top: 50px;
  width: 5rem;
  height: 5rem;
  color: #fefffc;
  text-align: center;
  font-family: Montez;
  font-size: 70px;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 5px;
}

.recipe-search {
  margin: 20px 0 0 10rem;
  padding: 10px;
  position: relative;
  max-width: 350px;

}

.search-recipe-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  border-radius: 35px;
  background-color: #d9d9d9;
  border: 0.3px solid #6b6969;
  position: absolute;
  right: 5px;
  bottom: 10px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.search-input {
  width: 100%;
  padding: 0px 20px 0px 20px;
  margin: 0 5px;
  height: 35px;
  border-radius: 35px;
  border: 0.2px solid grey;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}
.recipe-photo{
  border-radius: 81% 19% 23% 77% / 73% 42% 58% 27% ;
  z-index: 4;
}
.down-svg{
  position: relative;
  top: -7rem;
  left: 11.5rem;
  z-index: 0;

}
.up-svg {
  position: relative;
  top: 7rem;

}
.search-input:focus {
  border: none;
  outline: 1px solid green;
}

.all-recipes {
  min-height: 200px;
  display: flex;
  flex-direction: column;
  grid-template-columns: repeat(2fr, 2fr);
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  padding: 1rem 3.5rem 4rem 2rem;
}


@media (min-width: 576px) {
  .recipe-search {
    position: absolute;
    top: -10px;
    left: 100px;
  }

  .search-input {
    border: none;
  }

  .search-input:focus {
    outline: none;
  }

  .all-recipes {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
