.landing-page-banner {
  position: relative;
  width: 100%;
  height: 129px;
  background-image: url(../../assets/carosel-img-front-page.jpg);
  background-color: gray;
  background-position: center;
  margin-bottom: 20px;
}

.banner-title {
  position: absolute;
  left: 50px;
  top: 50px;
  color: #fefffc;
  text-align: center;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 1px;
  letter-spacing: 5px;
}

.recipe-search {
  margin: 20px auto;
  padding: 10px;
  position: relative;
  max-width: 350px;
}

.search-recipe-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  border-radius: 35px;
  background-color: #d9d9d9;
  border: 0.3px solid #6b6969;
  position: absolute;
  right: 5px;
  bottom: 10px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.search-input {
  width: 100%;
  padding: 0px 20px 0px 20px;
  margin: 0 5px;
  height: 35px;
  border-radius: 35px;
  border: 0.2px solid grey;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.search-input:focus {
  border: none;
  outline: 1px solid green;
}

.all-recipes {
  min-height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  padding: 20px;
  margin: 20px;
}

.recipe-card {
  font-family: Roboto;
  width: 300px;
  height: max-content;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.recipe-card--pointer {
  cursor: pointer;
}

.recipe-photo {
  display: block;
  width: 100%;
  height: 200px;
  border-radius: 5px;
  background-position: center;
  background-origin: content-box;
}

.card-recipe-name {
  color: #000;
  font-family: Roboto;
  font-weight: bold;
  opacity: 0.7;
  font-size: 16px;
  margin: 10px 5px;
  text-align: center;
}

.recipe-card__footer {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  padding: 3px;
}

.icon-number i {
  margin: 0 5px;
  cursor: pointer;
}

.rate-color {
  color: green;
}

.recipe-filter {
  position: relative;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
  gap: 20px;
  border-bottom: 0.1px solid #8080805d;
}

.filter-date-pop-up {
  display: none;
  position: absolute;
  left: 20%;
  top: 50px;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  z-index: 100;
}

.filter-date-pop-up--show {
  display: block;
}

.recipe-filter-ingridients,
.recipe-filter-country,
.recipe-filter-rating {
  display: flex;
  gap: 20px;
  align-items: baseline;
  align-content: center;
}

.recipe-filter-date .date-title {
  display: flex;
  gap: 20px;
}

.date-title i {
  cursor: pointer;
}

.recipe-select {
  border: none;
  outline: none;
  background-color: #fff;
  cursor: pointer;
}

@media (min-width: 576px) {
  .recipe-search {
    position: absolute;
    top: -10px;
    left: 100px;
  }

  .search-input {
    border: none;
  }

  .search-input:focus {
    outline: none;
  }

  .all-recipes {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
